MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority&appName=<appName>
DB_NAME=agriai
COLLECTION_NAME=questions
# Name of the Atlas Vector Search index created on the 'embedding' field
VECTOR_INDEX_NAME=vector_index
