NODE_ENV="development"

DB_URL=""
DB_NAME_copy=""
DB_NAME=""
DB_URL_ANALYTICS="your_analytics_url"
DB_NAME_ANALYTICS='test'

ENABLE_DB_BACKUP=false

ANNAM_URL_ANALYTICS=
ANNAM_DB_ANALYTICS='test'

APP_PORT="4000"
APP_ORIGINS="http://localhost:5173"
APP_MODULE="all"
APP_ROUTE_PREFIX="/api"
APP_URL="http://localhost:4000"

FIREBASE_CLIENT_EMAIL_copy=""
FIREBASE_PRIVATE_KEY_copy="-----BEGIN PRIVATE KEY-----\nMII..."
FIREBASE_PROJECT_ID_copy=""
FIREBASE_API_KEY_copy=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----...."
FIREBASE_PROJECT_ID=""
FIREBASE_API_KEY=""

AI_SERVER_IP=
AI_SERVER_PORT=6001
AGENT_SERVER_IP=
AGENT_SERVER_PORT=8000
SARVAM_API_KEY=

VITE_ENABLE_MOCKS=false
VITE_API_BASE_URL=http://localhost:4000/api

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=
VITE_VAPID_PUBLIC_KEY=

EMAIL_USER_copy=
EMAIL_PASS_copy=

ENABLE_AI_SERVER=false

EMAIL_USER=
EMAIL_PASS=

# Firebase Emulators
FIREBASE_AUTH_EMULATOR_HOST="127.0.0.1:9099"
FIREBASE_EMULATOR_HOST="127.0.0.1:4000"
GCLOUD_PROJECT="example-project-id"

# Plivo
PLIVO_STREAM_URL=wss://YOUR_NGROK_URL/plivo-stream
PLIVO_AUTH_ID=your_auth_id
PLIVO_AUTH_TOKEN=your_auth_token

