# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=staging
MONGODB_DATABASE=agriai

# HuggingFace Configuration
HUGGINGFACE_TOKEN=hf_your_token_here
HF_DATASET_NAME=

# Email Configuration (Zoho Mail SMTP)
EMAIL_USER=
EMAIL_PASS=
SMTP_SERVER=
SMTP_PORT=
# Comma-separated list of recipient emails
NOTIFICATION_EMAIL=email1@example.com,email2@example.com,email3@example.com,email4@example.com,email5@example.com
HF_DATASET_LINK=
