# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=staging
MONGODB_DATABASE=agriai

# HuggingFace Configuration
HUGGINGFACE_TOKEN=hf_your_token_here
HF_DATASET_NAME=vicharanashala/ajrasakha-dataset-v1