# Dependencies
node_modules
.pnpm-store
package-lock.json
yarn.lock

# Build outputs
build
dist
out
tsconfig.tsbuildinfo

# Environmental variables
.env
.env.local
.env.*.local

# IDE/System files
.DS_Store
.vscode
.idea
.gemini
