MONGODB_URI=mongodb+srv://USER:PASSWORD@HOST/
POP_MONGODB_DATABASE=new_pdf_chunks_and_metadata
POP_MONGODB_COLLECTION=merged_chunks_metadata
EMBEDDING_API_URL=http://localhost:6001/embed
POP_SIMILARITY_THRESHOLD=0.8
POP_TOP_K=5
POP_MCP_PORT=9002
POP_LOG_LEVEL=INFO
POP_VECTOR_INDEX_NAME=vector_index
POP_VECTOR_NUM_CANDIDATES=100
POP_VECTOR_SEARCH_LIMIT=25
POP_API_PORT=9003
POP_API_HOST=0.0.0.0
POP_MCP_PATH=/mcp
