# Original cluster - READ ONLY (provided by team)
ORIGINAL_DB_URL=mongodb+srv://<user>:<password>@<cluster>
ORIGINAL_DB_NAME=

# Your own cluster - READ + WRITE
OWN_DB_URL=mongodb+srv://<user>:<password>@<cluster>
OWN_DB_NAME=farmer_feedback
